@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<form method="post">
    @Html.ValidationSummary(false)
    @Html.LabelFor(p => p.OldPassword)
    @Html.PasswordFor(p => p.OldPassword)
    @Html.LabelFor(p => p.NewPassword)
    @Html.PasswordFor(p => p.NewPassword)
    @Html.LabelFor(p => p.ConfirmPassword)
    @Html.PasswordFor(p => p.ConfirmPassword)
    <button type="submit">Change</button>
</form>

